.gameGrid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 10px;
}

.gameGrid button {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 120px;
	height: 120px;
	background-color: var(--user-dark);
	border-radius: 100%;
	color: var(--user-light);
	font-size: 1rem;
}
