.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
}

.dark {
	background-color: var(--user-dark);
	color: var(--user-light);
}

.light {
	background-color: var(--user-light);
	color: var(--user-dark);
}
