.heading {
	font-weight: 600;
}

.form {
	color: var(--user-dark);
}

.form label span {
	position: relative;
	display: inline-block;
	padding: 5px 0;
	width: 100%;
	text-align: center;
	background-color: var(--user-light-blue);
}

.form label,
.form label span {
	border-radius: 1rem;
}

.form input[type="radio"] {
	position: absolute;
	opacity: 0;
}

.form label > input[type="radio"]:checked + span {
	background: var(--user-dark);
	color: var(--user-light);
}
